.page-enter-active, .page-leave-active {
  transition: opacity 0.5s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.test-enter-active, .test-leave-active {
  transition: all 0.8s;
  font-size: 12px;
}

.test-enter, .test-leave-active {
  opacity: 0;
  font-size: 40px;
}

body{
  padding-top: 20px;
  padding-left: 20px;
}
